doctype html
html
  head
    meta(charset='utf-8')
    title Index.html
    meta(name='keywords' content='index page')
    meta(name='author' content='author')
    script(src="app.js?"+ Math.random())

  body
    #hello_world_element
